/vendor/
/node_modules/
composer.lock
.phpunit.result.cache
.phpunit.cache/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

.github/*
!.github/workflows/
!.github/ISSUE_TEMPLATE/
!.github/PULL_REQUEST_TEMPLATE.md
